@page "Index"
@model TimeSlots.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewBag.Title = "Timeslots";
}
@using TimeSlots.DataBase
@using TimeSlots.Model

@inject TimeslotsDbContext _context;

<style>
	.container{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	table a:link {
		color: #666;
		font-weight: bold;
		text-decoration: none;
	}

	table a:visited {
		color: #999999;
		font-weight: bold;
		text-decoration: none;
	}

	table a:active,
	table a:hover {
		color: #bd5a35;
		text-decoration: underline;
	}

	table {
		font-family: Arial, Helvetica, sans-serif;
		color: #666;
		font-size: 12px;
		text-shadow: 1px 1px 0px #fff;
		background: #eaebec;
		margin: 20px;
		border: #ccc 1px solid;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 1px 2px #d1d1d1;
		-webkit-box-shadow: 0 1px 2px #d1d1d1;
		box-shadow: 0 1px 2px #d1d1d1;
	}

	table th {
		padding: 21px 25px 22px 25px;
		border-top: 1px solid #fafafa;
		border-bottom: 1px solid #e0e0e0;
		background: #ededed;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
		background: -moz-linear-gradient(top, #ededed, #ebebeb);
	}

	table th:first-child {
		text-align: left;
		padding-left: 20px;
	}

	table tr:first-child th:first-child {
		-moz-border-radius-topleft: 3px;
		-webkit-border-top-left-radius: 3px;
		border-top-left-radius: 3px;
	}

	table tr:first-child th:last-child {
		-moz-border-radius-topright: 3px;
		-webkit-border-top-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	table tr {
		text-align: center;
		padding-left: 20px;
	}

	table td:first-child {
		text-align: left;
		padding-left: 20px;
		border-left: 0;
	}

	table td {
		padding: 18px;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		background: #fafafa;
		background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
		background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
	}

	table tr.even td {
		background: #f6f6f6;
		background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
		background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
	}

	table tr:last-child td {
		border-bottom: 0;
	}

	table tr:last-child td:first-child {
		-moz-border-radius-bottomleft: 3px;
		-webkit-border-bottom-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	table tr:last-child td:last-child {
		-moz-border-radius-bottomright: 3px;
		-webkit-border-bottom-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	table tr:hover td {
		background: #f2f2f2;
		background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
		background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
	}
</style>
<div class="container">
	<h1>Platforms</h1>
	<table class="table">
		<thead>
			<tr>
				@foreach (var name in typeof(Platform).GetProperties().Select(prop => prop.Name))
				{
					<th scope="col">@name</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var platform in Model.Platforms)
			{
				<tr>
					<td>@platform.Id</td>
					<td>@platform.Name</td>
					<td>
						@foreach(var gate in platform.Gates)
						{
							@gate.Id
							<br/>
						}
					</td>
					<td>
						@foreach(var company in platform.Companies)
						{
							@company.Id
							<br />
						}
					</td>
					<td>
						@foreach(var platformFavourite in platform.PlatformFavorites)
						{
							@platformFavourite.Id
							<br />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h1>Gates</h1>
	<table>
		<thead>
			<tr>
				@foreach(var name in typeof(Gate).GetProperties().Select(prop => prop.Name))
				{
					<th>@name</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach(var gate in Model.Gates)
			{
				<tr>
					<td>@gate.Id</td>
					<td>@gate.Number</td>
					<td>@gate.PlatformId</td>
					<td>
						@foreach(var timeslot in gate.Timeslots)
						{
							@timeslot.Id
							<br />
						}
					</td>
					<td>
						@foreach(var schedule in gate.GateSchedules)
						{
							@schedule.Id
							<br />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h1>GatesSchedules</h1>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>DaysOfWeekString</td>
				<td>DaysOfWeek</td>
				<td>From</td>
				<td>To</td>
				<td>GateId</td>
				<td>CompanyId</td>
				<td>TaskTypesString</td>
				<td>TaskTypes</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var schedule in Model.GatesSchedules)
			{
				<tr>
					<td>@schedule.Id</td>
					<td>@schedule.DaysOfWeekString</td>
					<td>
						@foreach (var day in schedule.DaysOfWeek)
						{
							@day.ToString()
							<br />
						}
					</td>
					<td>@schedule.From</td>
					<td>@schedule.To</td>
					<td>@schedule.GateId</td>
					<td>@schedule.CompanyId</td>
					<td>@schedule.TaskTypesString</td>
					<td>
						@foreach(var task in schedule.TaskTypes)
						{
							@task.ToString()
							<br />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h1>PlatformFavorites</h1>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>PlatformId</td>
				<td>CompanyId</td>
				<td>MaxTaskCount</td>
				<td>DaysOfWeekstring</td>
				<td>DaysOfWeek</td>
				<td>From</td>
				<td>To</td>
				<td>TaskTypesString</td>
				<td>TaskTypes</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var platformFavorite in Model.PlatformFavorites)
			{
				<tr>
					<td>@platformFavorite.Id</td>
					<td>@platformFavorite.PlatformId</td>
					<td>@platformFavorite.CompanyId</td>
					<td>@platformFavorite.MaxTaskCount</td>
					<td>@platformFavorite.DaysOfWeekString</td>
					<td>
						@foreach (var day in platformFavorite.DaysOfWeek)
						{
							@day.ToString()
							<br />
						}
					</td>
					<td>@platformFavorite.From</td>
					<td>@platformFavorite.To</td>					
					<td>@platformFavorite.TaskTypesString</td>
					<td>
						@foreach (var task in platformFavorite.TaskTypes)
						{
							@task.ToString()
							<br />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h1>Companies</h1>
	<table>
		<thead>
			<tr>
				@foreach (var name in typeof(Company).GetProperties().Select(prop => prop.Name))
				{
					<th>@name</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var company in Model.Companies)
			{
				<tr>
					<td>@company.Id</td>
					<td>@company.Name</td>
					<td>@company.PlatformId</td>
					<td>@company.GateSchedule.Id</td>
					<td>
						@foreach(var platformFavourite in company.PlatformFavorites)
						{
							@platformFavourite.Id
							<br />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h1>Timeslots</h1>
	<form method="post" asp-page="Index" >
		<button type="submit" asp-page-handler="ClearTimeslots">Clear</button>
	</form>
    <table class="table">
        <thead>
            <tr>
				@foreach (var name in typeof(Timeslot).GetProperties().Select(prop => prop.Name))
				{
					<th>@name</th>
				}
            </tr>
        </thead>
        <tbody>
			@if(Model.Timeslots.Count() > 0)
			{
				foreach (var timeslot in Model.Timeslots)
				{
					<tr>
						<td>@timeslot.Id</td>
						<td>@timeslot.Date</td>
						<td>@timeslot.From</td>
						<td>@timeslot.To</td>
						<td>@timeslot.GateId</td>
						<td>@timeslot.UserId</td>
						<td>@timeslot.TaskType</td>
					</tr>
				}
			}
        </tbody>
    </table>
</div>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>